.myCal:nth-child(even){
 background: #CCC;
}
.myCal:nth-child(odd){
    background: #DCDCDC;
   }
.myButton:hover{
    cursor:pointer;
    opacity:1;
    font-weight:bold;
}
.myButton{
    opacity:0.85;
    color:rgb(78, 117, 20);
}
.myCalBehaviour{
    opacity:0.5;
    color:rgb(145, 99, 99);
}