.myCal:nth-child(even){
 background: #CCC;
}
.myCal:nth-child(odd){
    background: #DCDCDC;
   }
.myButton:hover{
    cursor:pointer;
    opacity:1;
    font-weight:bold;
}
.myButton{
    opacity:0.8;
}