<div class="container" *ngIf="!isLoggedIn()">
    <form class="container" #form="ngForm" autocomplete="off" (submit)="onSubmitToken()" name="loginUserForm">

        <div class="input row">
            <div class="col-sm-4"> 
            <label for="Login" class="col-sm-5">Login</label>
            <input type="text" name="Login" class="col-sm-5" [(ngModel)]="Login" />
        </div>
        </div>
        <div class="input row">
            <div class="col-sm-4">
            <label class="col-sm-5" for="Password">Password</label>
            <input class="col-sm-5" type="password" name="Password" [(ngModel)]="Password" />
        </div>

        </div>

        <div class="input row">
            <div class="offset-sm-1"></div>
            <input class="col-sm-2" type="submit" value="Login" />

        </div>


    </form>
    <div class="input row">
        <a type="button" value="Zarejestruj" routerLink="/Register_user" routerLinkActive="active">
            Zarejestruj</a>

    </div>
    <div class="form-check row" name="DontLogMeOut">
        <input type="checkbox" class="form-check-input" [(ngModel)]="IsDontLoggMeOut" id="DontLogMeOut" />
        <label class="form-check-label" for="DontLogMeOut">dont Log Me
            Out</label>
    </div>
</div>
<div class="container" *ngIf="isLoggedIn()">
    <div class="row">
        Zalogowany użytkownik: {{ShowLogin()}}
    </div>
    <button class="btn btn-success btn-lg btn-block row" (click)='LogOffUser()'>wyloguj</button>
</div>