<div class="container" *ngIf="!isLoggedIn()">
    <form class="container" #form="ngForm" autocomplete="off" (submit)="onSubmitToken()" name="loginUserForm">

        <div class=" row">
            <div class="col-sm-12">
                <label for="Login" class="col-sm-5">Login</label>
                <input type="text" name="Login" class="col-sm-6" [(ngModel)]="Login" />
            </div>
        </div>
        <div class=" row">
            <div class="col-sm-12">
                <label class="col-sm-5" for="Password">Password</label>
                <input class="col-sm-6" type="password" name="Password" [(ngModel)]="Password" />
            </div>

        </div>

        <div class=" row">
            <div class="col-sm-12">
                <input class="col-sm-6 offset-sm-5" type="submit" value="Login" />
            </div>
        </div>


    </form>
    <div class="row" name="DontLogMeOut">
        <div class="col-sm-12">

            <a type="button" class="col-sm-4" value="Zarejestruj" routerLink="/Register_user" routerLinkActive="active">
                Zarejestruj</a>
   

        <input type="checkbox" class="col-sm-1" [(ngModel)]="IsDontLoggMeOut" id="DontLogMeOut" />
        <label class="col-sm-5" for="DontLogMeOut">nie wylogowuj mnie</label>
    </div>
    </div>

</div>
<div class="container" *ngIf="isLoggedIn()">
    <div class="row">
        <div class="col-sm-12">
            Zalogowany użytkownik: {{ShowLogin()}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <button class="btn btn-success btn-lg btn-block" (click)='LogOffUser()'>wyloguj</button>
        </div>
    </div>
</div>