<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
            <div class="container-fluid">

                <div class="row  row-eq-height" style="font-weight: bold;">

                    <div class="col">
                        Imię: <ng2-completer [datasource]="nameList" [minSearchLength]="2" [(ngModel)]="searchName">
                        </ng2-completer>
                    </div>
                    <div class="col">
                        Nazwisko:<ng2-completer [datasource]="surnameList" [minSearchLength]="2"
                            [(ngModel)]="searchSurname">
                        </ng2-completer>
                    </div>
                    <div class="col">
                        Email:<ng2-completer [datasource]="emailList" [minSearchLength]="2" [(ngModel)]="searchEmail">
                        </ng2-completer>
                    </div>
                    <div class="col">
                        Numer Telefonu:<ng2-completer [datasource]="phoneList" [minSearchLength]="3"
                            [(ngModel)]="searchPhone">
                        </ng2-completer>
                    </div>
                    <div class="col-md-2">
                        <input type="button" style="margin-top: 10%;" class=" btn btn-primary" (click)="Filter()" value="filtruj" />
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row  row-eq-height" style="font-weight: bold;">
                    <!-- <div class="col-sm-1" width="100%" height="100%">
            ID
        </div> -->

                    <div class="col-md-2" width="100%" height="100%">
                        Login
                    </div>
                    <div class="col-md-1" width="100%" height="100%">
                        Imię
                    </div>
                    <div class="col-md-2" width="100%" height="100%">
                        Nazwisko
                    </div>
                    <div class="col-md-3" width="100%" height="100%">
                        Email
                    </div>
                    <div class="col-md-2" width="100%" height="100%">
                        Numer Telefonu
                    </div>
                    <!-- <div class="col-md-2" width="100%" height="100%">
            Data Stworzenia Konta
        </div> -->
                    <div class="col-md-2" width="100%" height="100%">
                        Typ usera:
                    </div>


                </div>
            </div>
            <br />
            <div class="ScrollClass">
                <div class="container-fluid" *ngFor="let ul of userList ">
                    <!-- | async -->
                    <div class="row  row-eq-height hoverable" (click)="OpenDetails(ul)">


                        <!-- <div class="col-sm-1" width="100%" height="100%">
            {{ul.UserId}}
        </div> -->
                        <div class="col-md-2" width="100%" height="100%">
                            {{ul.Login}}
                        </div>
                        <div class="col-md-1" width="100%" height="100%">
                            {{ul.FirstName}}
                        </div>
                        <div class="col-md-2" width="100%" height="100%">
                            {{ul.Surname}}
                        </div>
                        <div class="col-md-3" width="100%" height="100%">
                            {{ul.Email}}
                        </div>
                        <div class="col-md-2" width="100%" height="100%">
                            {{ul.PhoneNumber}}
                        </div>
                        <!-- <div class="col-md-2" width="100%" height="100%">
            {{ul.AccoutCreateDate}}
        </div> -->

                        <div class="col-md-2" width="100%" height="100%">
                            {{ul.UserType.Name}}
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <td>
                <button (click)="onDelete(pd.PMId)" type="button" class="btn btn-danger">
                    delete
                </button>
            </td> -->