<!-- ng form - dla formu angulara -->
<!-- autocomplete="off" - zeby wylaczyc zapelnianie z poprzednich danych itp -->
<!-- #form-nazwa naszego pola do angulara (onSubmit(form)) 
    ="ngForm" typ tego submita -->


<form #form="ngForm" autocomplete="off">

    <div class="form-group">


        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 col-md-offset-3"></div>
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Login
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Login.touched"
                [class.bg-success]="Login.valid && Login.touched"
                [class.bg-danger]="Login.invalid && Login.touched">
                Login
            </div>

            <!-- #FirstName - local reference -->
            <!-- two way data binding [(ngModel)]="userService.FirstName" nazwa z property "userService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->

            <input type="text" name="Login" #Login="ngModel" [(ngModel)]="userService.userFormData.Login"
                class="col-md-4 form-control" placeholder="Login" [readonly]="!IsEdit" required />

        </div>
        <div class="row input-group">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 col-md-offset-3"></div>
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Imię
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!FirstName.touched"
                [class.bg-success]="FirstName.valid && FirstName.touched"
                [class.bg-danger]="FirstName.invalid && FirstName.touched">
                Imię
            </div>

            <!-- #FirstName - local reference -->
            <!-- two way data binding [(ngModel)]="userService.FirstName" nazwa z property "userService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->

            <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="userService.userFormData.FirstName"
                class="col-md-4 form-control" placeholder="User First Name" [readonly]="!IsEdit" required />

        </div>


        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Nazwisko
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                [class.bg-success]="Surname.valid && Surname.touched"
                [class.bg-danger]="Surname.invalid && Surname.touched">
                Nazwisko
            </div>


            <input type="text" name="Surname" #Surname="ngModel" [(ngModel)]="userService.userFormData.Surname"
                class="col-md-4 form-control" placeholder="User Surname" required [readonly]="!IsEdit" />
        </div>

        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Numer Tel.
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text bg-info" [class.bg-info]="!PhoneNumber.touched"
                [class.bg-success]="PhoneNumber.valid && PhoneNumber.touched"
                [class.bg-danger]="PhoneNumber.invalid && PhoneNumber.touched">
                Numer Tel.
            </div>

            <input type="text" name="PhoneNumber" #PhoneNumber="ngModel"
                [(ngModel)]="userService.userFormData.PhoneNumber" class="col-md-4 form-control"
                placeholder="16 digit Card Number" required maxlength="11" minlength="9" [readonly]="!IsEdit" />
        </div>

        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Email
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Email.touched"
                [class.bg-success]="Email.valid && Email.touched" [class.bg-danger]="Email.invalid && Email.touched">
                Email
            </div>


            <input type="text" name="Email" #Email="ngModel" [(ngModel)]="userService.userFormData.Email"
                class="col-md-4 form-control" placeholder="User Email" required [pattern]="userService.regexEmail"
                [readonly]="!IsEdit" />

        </div>
        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>

            <div class="col-md-2 input-group-text bg-info">
                Data utworzenia 
            </div>
            <input type="text" name="AccoutCreateDate" #AccoutCreateDate="ngModel"
                [(ngModel)]="userService.userFormData.AccoutCreateDate" class="col-md-4 form-control"
                placeholder="User AccoutCreateDate" readonly="true" />
        </div>

        <div class="row  input-group" for="IsAdminCheck">
            <div class="col-md-3 col-md-offset-3"></div>

         
                <!-- //class=" col-md-6 bg-info input-group-text" -->
                <div class="col-md-2 input-group-text bg-info">
                Prawa Użytkownika
                </div>
                <div class="col-md-4">
                  <select  [disabled]="!IsAdminAndEdit()" class="w-100 h-100" name="userTypeSelect" (change)="changeRights($event.target.value)" #userTypeSelect="ngModel" [(ngModel)]="userService.UserRInUserDetail" >   <!-- //(change)="filterForeCasts($event.target.value)" -->
                        
                        <option  class="w-100 h-100" *ngFor="let ut of UserTypesList" [ngValue]="ut.UserTypeId">
                            {{ut.Name}}
                        </option>
                    </select>
                </div>
                <!-- <input name="IsAdminInput" #IsAdminInput="ngModel" [(ngModel)]="userService.userFormData.IsAdmin"
                    class="col-md-6" type="checkbox" id="IsAdminInput" [disabled]="!IsAdminAndEdit() " /> -->
           
        </div>
        <!-- <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <div class=" col-md-6 bg-info input-group-text" for="IsEmployeeCheck">
                Employee Rights:
                <input name="IsEmployee" #IsAdmin="ngModel" [(ngModel)]="userService.userFormData.IsEmployee"
                    class="col-md-6" type="checkbox" id="IsEmployeeCheck" [disabled]="!IsAdminAndEdit()" />
            </div>
        </div> -->
        <div *ngIf="IsAdminAndEdit()">
            <div class="row input-group">

                <div class="col-md-3 col-md-offset-3"></div>
                <!-- [co się dzieje z klasą]="warunek" -->
                <div class="col-md-2 input-group-text" [class.bg-info]="!Password.touched"
                    [class.bg-success]="Password.valid && Password.touched"
                    [class.bg-danger]="Password.invalid && Password.touched">
                    Password
                </div>


                <input type="password" name="Password" #Password="ngModel"
                    [(ngModel)]="userService.userFormData.Password" class="col-md-4 form-control"
                    placeholder="User Password" required [disabled]="!IsEdit" />
            </div>
            <div class="row input-group">
                <div class="col-md-3 col-md-offset-3"></div>
                <!-- [co się dzieje z klasą]="warunek" -->
                <div class="col-md-2 input-group-text bg-info">
                    Confirm Password
                </div>


                <input type="password" name="ConfirmPassword" #ConfirmPassword="ngModel"
                    [(ngModel)]="userService.confirmPassword" class="col-md-4 form-control"
                    placeholder="User confirm password" required />
            </div>
        </div>



        <!-- [co się dzieje z klasą]="warunek" -->
        <div class="row  input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <input *ngIf="IsEdit" type="button" class="col-md-6 btn btn-success btn-lg btn-block"
                [disabled]="form.invalid" (click)="AcceptEdit()" value="Zatwierdź" />
            <input *ngIf="!IsEdit" type="button" class="col-md-6 btn btn-success btn-lg btn-block"
                (click)="EditThisForm()" value="Edytuj" />
        </div>
        <div class="row  input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <input type="button" class="col-md-6 btn btn-danger btn-lg btn-block" (click)="RemoveUser()" value="Usuń" />
        </div>


    </div>

</form>