div.hoverable:hover{
    cursor:pointer;
    /* opacity:1; */
    font-weight:bold;
    }
/* div.hoverable{
    opacity:0.7;
} */
.col-centered{
    float: none;
    margin: 0 auto;
}
div{
    word-break: keep-all;
}
.ScrollClass{
    height: 350px;
    overflow: scroll;
}

.col{
    padding:1px 1px 0px;
    border-bottom: rgb(172, 172, 172) 1px solid;
    border-right: rgb(172, 172, 172) 1px solid;
}