<!-- <router-outlet></router-outlet> -->
<div class="container-fluid">

    <div class="row  row-eq-height " > 
        <div style="padding-left: 4px;"></div>
        <input type="button" class=" col-md-1 btn btn-success btn-block" value="Wszystkie" /> 
        <div style="padding-left: 4px;"></div>
        <input type="button" class=" col-md-1  btn btn-success btn-block" value="Zaczęte" /> 
        <div style="padding-left: 4px;"></div>
        <input type="button" class=" col-md-1 btn btn-success btn-block" value="Nie zaczęte" /> 
        <div style="padding-left: 4px;"></div>
        <input type="button" class=" col-md-1 btn btn-success btn-block" value="Zakończone" /> 
        <div style="padding-left: 4px;"></div>
        <input type="button" class=" col-md-2  btn btn-success btn-block" value="Nie zakończone" /> 
    </div>

    <div class="row  row-eq-height ">
        <div class="col-sm-1" width="100%" height="100%">
            Id Zlecenia
        </div>
        <!-- <div class="col-md-1" width="100%" height="100%">
            Id Użytkownika
        </div> -->
        <div class="col-sm-3" width="100%" height="100%">
            Użytkownik
        </div>
        <div class="col-md-1" width="100%" height="100%">
            Nazwa Szablonu
        </div>
   
        <div class="col-lg-2" width="100%" height="100%">
            Przewidywany start
        </div>
        <!-- <div class="col-sm-1" width="100%" height="100%">
            Data Zakończenia
        </div> -->
        <div class="col-sm-1" width="100%" height="100%">
            Cena
        </div>
        <div class="col-sm-1" width="100%" height="100%">
            Czy Zaczęte
        </div>
        <div class="col-sm-1" width="100%" height="100%">
            Czy Zakończone
        </div>
    </div>

</div>
<div class="container-fluid" *ngFor="let ul of orderList"> 
    <!-- orderService.orderList -->
    <div class="row  row-eq-height hoverable" (click)="ShowOrder(ul)">
        <div class="col-sm-1" width="100%" height="100%">
            {{ul.OrderId}}
        </div>
        <!-- <div class="col-md-1" width="100%" height="100%">
            {{ul.UserId}}
        </div> -->
        <div class="col-md-3" width="100%" height="100%">
            {{ul.User.FirstName}}  {{ul.User.Surname}}
        </div>
        <div class="col-md-1" width="100%" height="100%">
            {{ul.OrdersTemplate.Name}}
        </div>
        <div class="col-lg-2" width="100%" height="100%">
            {{CutDate(ul.ExpectedStartOfOrder)}}
        </div>
        <div class="col-sm-1" width="100%" height="100%">
            {{ul.Cost}}
        </div>
        <div class="col-sm-1" width="100%" height="100%">
            {{ul.IsOrderStarted}}
        </div>
        <div class="col-sm-1" width="100%" height="100%">
            {{ul.IsOrderCompleted}}
        </div>


    </div>

</div>