<!-- ng form - dla formu angulara -->
<!-- autocomplete="off" - zeby wylaczyc zapelnianie z poprzednich danych itp -->
<!-- #form-nazwa naszego pola do angulara (onSubmit(form)) 
    ="ngForm" typ tego submita -->
<router-outlet></router-outlet>

<form #form="ngForm" autocomplete="off">

    <div class="form-group">


        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group  ">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                    Login
                </div> -->
            <div class="col-md-3 input-group-text bg-info">
                OrderId
            </div>

            <!-- #OrdersTemplate.Name - local reference -->
            <!-- two way data binding [(ngModel)]="orderService.OrdersTemplate.Name" nazwa z property "orderService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.OrderId}}
            </div>

            <!-- <input type="text" name="Login" #Login="ngModel" [(ngModel)]="orderService.OrderDetails.OrderId"
                    class="col-md-4 form-control" placeholder="Login" [readonly]="true" required />
     -->
        </div>
        <div class="row input-group hoverable" (click)="ShowOrderTDetails(orderService.OrderDetails.OrdersTemplate)">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 col-md-offset-3"></div>
            <div class="col-md-3 input-group-text bg-info">
                Nazwa Usługi
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!OrdersTemplateName.touched"
                    [class.bg-success]="OrdersTemplateName.valid && OrdersTemplateName.touched"
                    [class.bg-danger]="OrdersTemplateName.invalid && OrdersTemplateName.touched">
                    Nazwa Usługi
                </div> -->

            <!-- #OrdersTemplate.Name - local reference -->
            <!-- two way data binding [(ngModel)]="orderService.OrdersTemplate.Name" nazwa z property "orderService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.OrdersTemplate.Name}}
            </div>

        </div>
        <div class="row input-group hoverable" (click)="ShowOrderTDetails(orderService.OrderDetails.OrdersTemplate)">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 col-md-offset-3"></div>
            <div class="col-md-3 input-group-text bg-info">
                Id Usługi
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!OrdersTemplateName.touched"
                    [class.bg-success]="OrdersTemplateName.valid && OrdersTemplateName.touched"
                    [class.bg-danger]="OrdersTemplateName.invalid && OrdersTemplateName.touched">
                    Nazwa Usługi
                </div> -->

            <!-- #OrdersTemplate.Name - local reference -->
            <!-- two way data binding [(ngModel)]="orderService.OrdersTemplate.Name" nazwa z property "orderService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.OrdersTemplate.OrderTemplateId}}
            </div>

        </div>


        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Imię i nazwisko Zamawiającego
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.User.FirstName}} {{orderService.OrderDetails.User.Surname}}
            </div>
        </div>
        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Cena
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.Cost}}
            </div>
        </div>
        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Czy zlecenie zaczęte:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.IsOrderStarted}}
            </div>
        </div>
        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Czy zlecenie zakończone:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.IsOrderCompleted}}
            </div>
        </div>
        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Data Złożenia zlecenia:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.OrderDate}}
            </div>
        </div>
        <div *ngIf="orderService.OrderDetails.ExpectedStartOfOrder" class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Przewidywany czas startu:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                        [class.bg-success]="Surname.valid && Surname.touched"
                        [class.bg-danger]="Surname.invalid && Surname.touched">
                        Nazwisko
                    </div> -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.ExpectedStartOfOrder}}
            </div>
        </div>
        <div *ngIf="orderService.OrderDetails.StartOfOrder" class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Właściwy start zlecenia:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                        [class.bg-success]="Surname.valid && Surname.touched"
                        [class.bg-danger]="Surname.invalid && Surname.touched">
                        Nazwisko
                    </div> -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.StartOfOrder}}
            </div>
        </div>


        <div *ngIf="orderService.OrderDetails.CompletedOrderDate" class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Data zakończenia zlecenia:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                            [class.bg-success]="Surname.valid && Surname.touched"
                            [class.bg-danger]="Surname.invalid && Surname.touched">
                            Nazwisko
                        </div> -->
            <div class="col-md-3 input-group-text">
                {{orderService.OrderDetails.CompletedOrderDate}}
            </div>
        </div>
        <div *ngIf="orderService.OrderDetails.OrderInformations" class="row input-group">
            <div class="container-fluid" *ngFor="let ul of orderService.OrderDetails.OrderInformations">
                <div class="col-md-3 input-group-text">
                    {{ul}}
                </div>

            </div>

        </div>
        <br />
        <div *ngIf=" CheckIfEmployer()">
            <div class="row  input-group">

                <div class="col-md-3 col-md-offset-3"></div>


                <input *ngIf="!orderService.OrderDetails.IsOrderStarted" type="button" class=" col-md-2  btn btn-success btn-block"
                    (click)="StartOrder()" value="Zapoczątkuj" />


                <input *ngIf="orderService.OrderDetails.IsOrderStarted" type="button"
                    class="col-md-2 btn btn-success btn-block" (click)="BackStartOrder()" value="Cofnij Zapoczątkowanie" />


                <div class="col-md-2 col-md-offset-2"></div>

                <input *ngIf="!orderService.OrderDetails.IsOrderCompleted" type="button"
                    class="col-md-2 btn btn-success" (click)="EndOrder()" value="Zakończ" />


                <input *ngIf="orderService.OrderDetails.IsOrderCompleted" type="button" (click)="BackEndOrder()" class="col-md-2 btn btn-success"
                    value="Cofnij Zakończenie Zleceina" />


            </div>

        </div>

    </div>

</form>