

<app-order-template-details-component *ngIf="orderTemplateToEdit" [pickedOrderTemplate]="pickedOrderTemplate"></app-order-template-details-component>

<app-order-template-component *ngIf="orderTemplateInfo"  [pickedOrderTemplate]="pickedOrderTemplate"></app-order-template-component>
<button *ngIf="editButton"(click)="EditButtonClick()">Edytuj ten template</button>
<form #form="ngForm" autocomplete="off">

    <div class="form-group">


        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group  " *ngIf="orderDetails.OrderId">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                    Login
                </div> -->
            <div class="col-md-3 input-group-text bg-info">
                OrderId
            </div>

            <!-- #OrdersTemplate.Name - local reference -->
            <!-- two way data binding [(ngModel)]=" OrdersTemplate.Name" nazwa z property "orderService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->
            <div class="col-md-3 input-group-text">
                {{ orderDetails.OrderId}}
            </div>

            <!-- <input type="text" name="Login" #Login="ngModel" [(ngModel)]=" orderDetails.OrderId"
                    class="col-md-4 form-control" placeholder="Login" [readonly]="true" required />
     -->
        </div>
        <div class="row input-group hoverable" (click)="ShowOrderTDetails(orderDetails.OrdersTemplate)">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 col-md-offset-3"></div>
            <div class="col-md-3 input-group-text bg-info">
                Nazwa Usługi
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!OrdersTemplateName.touched"
                    [class.bg-success]="OrdersTemplateName.valid && OrdersTemplateName.touched"
                    [class.bg-danger]="OrdersTemplateName.invalid && OrdersTemplateName.touched">
                    Nazwa Usługi
                </div> -->

            <!-- #OrdersTemplate.Name - local reference -->
            <!-- two way data binding [(ngModel)]=" OrdersTemplate.Name" nazwa z property "orderService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->
            <div class="col-md-3 input-group-text">
                {{orderDetails.OrdersTemplate.Name}}
            </div>

        </div>
        <div class="row input-group hoverable" (click)="ShowOrderTDetails(orderDetails.OrdersTemplate)">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 col-md-offset-3"></div>
            <div class="col-md-3 input-group-text bg-info">
                Id Usługi
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!OrdersTemplateName.touched"
                    [class.bg-success]="OrdersTemplateName.valid && OrdersTemplateName.touched"
                    [class.bg-danger]="OrdersTemplateName.invalid && OrdersTemplateName.touched">
                    Nazwa Usługi
                </div> -->

            <!-- #OrdersTemplate.Name - local reference -->
            <!-- two way data binding [(ngModel)]=" .OrdersTemplate.Name" nazwa z property " " w payment-detail.component.ts (to co dajemy w konstruktorze) -->
            <div class="col-md-3 input-group-text">
                {{orderDetails.OrdersTemplate.OrderTemplateId}}
            </div>

        </div>


        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group" *ngIf="orderDetails.User">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Imię i nazwisko Zamawiającego
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
            <div class="col-md-3 input-group-text">
                {{ orderDetails.User.FirstName}} {{  orderDetails.User.Surname}}
            </div>
        </div>
        <div class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Cena
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
            <div class="col-md-3 input-group-text">
                {{  orderDetails.Cost}}
            </div>
        </div>
        <div *ngIf="orderDetails.OrderDate">
            <div class="row input-group">
                <div class="col-md-3 col-md-offset-3"></div>
                <!-- [co się dzieje z klasą]="warunek" -->
                <div class="col-md-3 input-group-text bg-info">
                    Czy zlecenie opłacone:
                </div>
                <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
                <div class="col-md-3 input-group-text">
                    {{  orderDetails.IsPaid}}
                </div>
            </div>
            <div class="row input-group">
                <div class="col-md-3 col-md-offset-3"></div>
                <!-- [co się dzieje z klasą]="warunek" -->
                <div class="col-md-3 input-group-text bg-info">
                    Czy zlecenie zaczęte:
                </div>
                <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
                <div class="col-md-3 input-group-text">
                    {{  orderDetails.IsOrderStarted}}
                </div>
            </div>
            <div class="row input-group">
                <div class="col-md-3 col-md-offset-3"></div>
                <!-- [co się dzieje z klasą]="warunek" -->
                <div class="col-md-3 input-group-text bg-info">
                    Czy zlecenie zakończone:
                </div>
                <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
                <div class="col-md-3 input-group-text">
                    {{  orderDetails.IsOrderCompleted}}
                </div>
            </div>
            <div class="row input-group">
                <div class="col-md-3 col-md-offset-3"></div>
                <!-- [co się dzieje z klasą]="warunek" -->
                <div class="col-md-3 input-group-text bg-info">
                    Data Złożenia zlecenia:
                </div>
                <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                    [class.bg-success]="Surname.valid && Surname.touched"
                    [class.bg-danger]="Surname.invalid && Surname.touched">
                    Nazwisko
                </div> -->
                <div class="col-md-3 input-group-text">
                    {{  orderDetails.OrderDate}}
                </div>
            </div>
        </div>
        <div *ngIf=" orderDetails.ExpectedStartOfOrder" class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Przewidywany czas startu:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                        [class.bg-success]="Surname.valid && Surname.touched"
                        [class.bg-danger]="Surname.invalid && Surname.touched">
                        Nazwisko
                    </div> -->
            <div class="col-md-3 input-group-text">
                {{ orderDetails.ExpectedStartOfOrder}}
            </div>
        </div>
        <div *ngIf=" orderDetails.StartOfOrder" class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Właściwy start zlecenia:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                        [class.bg-success]="Surname.valid && Surname.touched"
                        [class.bg-danger]="Surname.invalid && Surname.touched">
                        Nazwisko
                    </div> -->
            <div class="col-md-3 input-group-text">
                {{ orderDetails.StartOfOrder}}
            </div>
        </div>


        <div *ngIf=" orderDetails.CompletedOrderDate" class="row input-group">
            <div class="col-md-3 col-md-offset-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-3 input-group-text bg-info">
                Data zakończenia zlecenia:
            </div>
            <!-- <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                            [class.bg-success]="Surname.valid && Surname.touched"
                            [class.bg-danger]="Surname.invalid && Surname.touched">
                            Nazwisko
                        </div> -->
            <div class="col-md-3 input-group-text">
                {{ orderDetails.CompletedOrderDate}}
            </div>
        </div>
        <div *ngIf=" orderDetails.OrderInformations" class="row input-group">
            <div class="container-fluid" *ngFor="let ul of  orderDetails.OrderInformations">
                <div class="col-md-3 input-group-text">
                    {{ul}}
                </div>

            </div>

        </div>
        <br />

    </div>

</form>