<div *ngIf="!isLoggedIn()">
    <form #form="ngForm" autocomplete="off" (submit)="LoginUser()" name="loginUserForm">

        <div class="input">
            <label for="Login">Login</label>
            <input type="text" name="Login" [(ngModel)]="Login" />

        </div>
        <div class="input">
            <label for="Password">Password</label>
            <input type="password" name="Password" [(ngModel)]="Password" />

        </div>
        
        <div class="input">
            <input type="submit" value="Login" />

        </div>


    </form>
    <div class="input">
            <a type="button" value="Zarejestruj" routerLink="/Register_user" routerLinkActive="active">
                Zarejestruj</a>

        </div>
    <div class="form-check" name="DontLogMeOut">
            <input type="checkbox" class="form-check-input" [(ngModel)]="userService.IsDontLoggMeOut"
                id="DontLogMeOut" />
            <label class="form-check-label" for="DontLogMeOut">dont Log Me
                Out</label>
        </div>
</div>
<div *ngIf="isLoggedIn()">
    Zalogowany użytkownik: {{ShowLogin()}}
    <button class="btn btn-success btn-lg btn-block" (click)='LogOffUser()'>wyloguj</button>
</div>