<div class="container">
<br>
    <div class="row">
        <div class="col-sm-10 offset offset-sm-1">
            <section class="grid1 content">
                <p>Twój samochód to nie tylko zwykły środek transportu. To także Twoja wizytówka, pasja, spełnienie
                    marzenia, niezawodny sposób na budzenie zazdrości u sąsiadów i innych kierowców. Warunek jest jeden:
                    auto musi być zadbane. Zostaw to nam.</p>
                <p> <strong>Detailing Trzeciak</strong> to profesjonalne studio
                    <strong>auto detailingu w Łodzi</strong>.</p>
                <p>Specjalizujemy się w pielęgnowaniu wszystkich
                    pojazdów, w
                    tym luksusowych i zabytkowych. Poznaj naszą ofertę.</p>
                <h2><strong>Car detailing – najlepszy adres w Łodzi</strong></h2>
                <p><strong>Detailing samochodowy</strong> to popularna usługa, która polega na kompleksowym odnowieniu
                    lakieru, wnętrza oraz innych elementów pojazdu. Celem jest przywrócenie auta do stanu zbliżonego do
                    fabrycznego. To oczywiste, że po latach eksploatacji na karoserii, felgach i tapicerce pojawiają się
                    ślady zużycia oraz mniejsze i większe uszkodzenia. Na szczęście można sobie z tym poradzić.</p>
                <p>Detailing Trzeciak oferuje <strong>auto detailing</strong> na najwyższym poziomie. Korzystamy z
                    produktów renomowanych producentów, dzięki czemu gwarantujemy znakomity efekt estetyczny oraz – co
                    bardzo ważne – skuteczne zabezpieczenie lakieru i tapicerki. Twój samochód znów będzie prezentować
                    się pięknie i dzielnie zniesie kolejne lata eksploatacji.</p>
            </section>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-4 offset-sm-4"><a type="button" class="nav-link btn btn-primary"  routerLink="Pick_Order_Template"><strong>Wybierz z naszej oferty!</strong></a></div>
    </div>
</div>