<img class="myLOGO" src="assets\cq5dam.resized.img.1680.large.time1590490849670.jpg" alt="Italian Trulli">
<br>
<div class="container">
  <!-- <app-login-component></app-login-component>
  <app-register-user-component></app-register-user-component> -->

  <div class="row">

    <app-login-component class="col-sm-4"></app-login-component>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <app-menu-component></app-menu-component>
    </div>
  </div>
  <!-- w router-outlet podstawiane jest to co jest w router-link i zdefiniowane w app.module.ts -->
  <router-outlet></router-outlet>

</div>
<!-- </div> -->