<div class="jumbotron">
  <h1 class="display-4 text-center">Logo</h1>
  <!-- <app-login-component></app-login-component>
  <app-register-user-component></app-register-user-component> -->
  <app-login-component></app-login-component>
  <app-menu-component></app-menu-component>

          <!-- w router-outlet podstawiane jest to co jest w router-link i zdefiniowane w app.module.ts -->
         <router-outlet></router-outlet>
      <!-- <div class="col-md-7">
          <app-payment-detail-list></app-payment-detail-list>
      </div> -->

</div>