<form #form="ngForm" autocomplete="off" (submit)="RegisterUser(form)">
    <div class="form-group">
        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group">

            <div class="col-md-2 input-group-text" [class.bg-info]="!LoginR.touched"
                [class.bg-success]="LoginR.valid && LoginR.touched" [class.bg-danger]="LoginR.invalid && LoginR.touched">
                Login
            </div>


            <input name="LoginR"  autocomplete="off"   #LoginR="ngModel" [(ngModel)]="userService.userRegister.Login"
                class="col-md-3 form-control" placeholder="User Login" required />
        </div>
        <div class="row input-group">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-2 input-group-text" [class.bg-info]="!PasswordR.touched"
                [class.bg-success]="PasswordR.valid && PasswordR.touched"
                [class.bg-danger]="PasswordR.invalid && PasswordR.touched">
                Hasło
            </div>


            <input name="PasswordR"   autocomplete="off" type="Password" #PasswordR="ngModel" [(ngModel)]="userService.userRegister.Password"
                class="col-md-3 form-control" placeholder="User Password" required />
        </div>
        <div class="row input-group">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-2 input-group-text" [class.bg-info]="!Email.touched"
                [class.bg-success]="Email.valid && Email.touched" [class.bg-danger]="Email.invalid && Email.touched" >
                 Email
            </div>


            <input name="Email" #Email="ngModel"  [(ngModel)]="userService.userRegister.Email"
                class="col-md-3 form-control" placeholder="User Email"  required [pattern]="userService.regexEmail" />
        </div>

        <div class="row input-group">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-2 input-group-text" [class.bg-info]="!FirstName.touched"
                [class.bg-success]="FirstName.valid && FirstName.touched"
                [class.bg-danger]="FirstName.invalid && FirstName.touched" width="100%">
                 Imię
            </div>

            <!-- #FirstName - local reference -->
            <!-- two way data binding [(ngModel)]="userService.FirstName" nazwa z property "userService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->
            <input name="FirstName" #FirstName="ngModel" [(ngModel)]="userService.userRegister.FirstName"
                class="col-md-3 form-control" placeholder="User First Name" required />
        </div>
        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                [class.bg-success]="Surname.valid && Surname.touched"
                [class.bg-danger]="Surname.invalid && Surname.touched">
                 Nazwisko
            </div>


            <input name="Surname" #Surname="ngModel" [(ngModel)]="userService.userRegister.Surname"
                class="col-md-3 form-control" placeholder="User Surname" required />
        </div>

        <div class="row input-group">

            <div class="col-md-2 input-group-text bg-info" [class.bg-info]="!PhoneNumber.touched"
                [class.bg-success]="PhoneNumber.valid && PhoneNumber.touched"
                [class.bg-danger]="PhoneNumber.invalid && PhoneNumber.touched">
                Numer Telefonu
            </div>

            <input name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="userService.userRegister.PhoneNumber"
                class="col-md-3 form-control" placeholder="9-11 digit phone number" required 
                [pattern]="userService.regexPhoneNumber" (change)="addSpacesNumber()" maxlength="11" minlength="9" />
        </div>
        <div class="row">

            <input *ngIf="singleRegister" class="col-md-5 btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid" value="zatwierdź" />
              

        </div>
    </div>
</form>