
<!-- style="overflow-y: scroll; max-height: 1000px;" -->
<div >
    <div class="container-fluid " *ngFor="let ul of orderTemplateService.orderTemplateList;let i=index">
        <div class="row  row-eq-height hoverable" (click)="ShowDetails(ul)">
            <div class="col-sm-12 mt-1">
                <app-image-right class="container-fluid" [side]="i%2==0" [orderTemplate]="ul"></app-image-right>
            </div>
            <!-- <div class="col-sm-1" width="100%" height="100%">
            {{ul.OrderTemplateId}}
        </div> -->
            <!-- <div class="col-md-2" width="100%" height="100%">
            {{ul.Name}}
        </div>
        <img *ngIf="TestOrdetTemplateImage" src="data:image/jpg;base64,{{TestOrdetTemplateImage.Image}}" id="photo-id"/> -->
            <!-- <div class="col-sm-2"  width="100%" height="100%">
            {{ul.MaxCost}}
        </div>
        <div class="col-sm-2"  width="100%" height="100%">
            {{ul.MinCost}}
        </div>

        <div class="col-lg-3" width="100%" height="100%">
            {{ul.AdditionalInformation}}
        </div>
        <div class="col-sm-2" width="100%" height="100%">
            {{ul.ExpectedTime}}
        </div> -->

        </div>

    </div>
</div>