<div class="container">

    <div class="col-sm-10 col-offset-sm-2">
        <app-login-component [LogInFromDiffrentSource]="LogInFromThere.bind(this)"></app-login-component>
    </div>

    <div class="row">
        Zamów za pomocą tymczasowego konta bez rejestracji.
        <input type="text" class="col-sm-4 col-offset-sm-2" name="Email" [(ngModel)]="Email" [pattern]="EmailRegex" value="PrzykladowyEmail@gmail.com">

        <div class="btn btn-primary">
            Zamów bez logowania
        </div>
    </div>

</div>