<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="home">O nas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <div *ngIf="shouldIShownItem(3)">
              <li class="nav-item active">
                <!-- routeLink jest definiowany w app.module.ts -->
                <a class="nav-link" routerLink="User_List_Edit">Użytkownicy<span class="sr-only">(current)</span></a>
              </li>
            </div>
            <div *ngIf="shouldIShownItem(0)">
              <li class="nav-item active">
                <!-- routeLink jest definiowany w app.module.ts -->
                <a class="nav-link" routerLink="Pick_Order_Template">Wybierz z naszej oferty <span
                    class="sr-only">(current)</span></a>
              </li>

            </div>
            <div *ngIf="shouldIShownItem(3)">
              <li class="nav-item active">
                <!-- routeLink jest definiowany w app.module.ts -->
                <a class="nav-link" routerLink="Order_Template_Detail">Dodaj szablon usługi<span
                    class="sr-only">(current)</span></a>
              </li>

            </div>
            <div *ngIf="shouldIShownItem(3)">
              <li class="nav-item active">
                <!-- routeLink jest definiowany w app.module.ts -->
                <a class="nav-link" routerLink="All_Orders">Wszystkie rezerwacje <span
                    class="sr-only">(current)</span></a>
              </li>

            </div>
            <div *ngIf="shouldIShownItem(1)">
              <li class="nav-item active">
                <a class="nav-link" routerLink="User_Orders">Twoje rezerwacje
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </div>

            <div>
              <li class="nav-item active">
                <a class="nav-link" routerLink="Contact"> Kontakt
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </div>
            <div *ngIf="shouldIShownItem(1)">
              <li class="nav-item active">
                <a class="nav-link" routerLink="Account"> Twoje Konto
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </div>
            <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
            <!-- </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>