<!-- ng form - dla formu angulara -->
<!-- autocomplete="off" - zeby wylaczyc zapelnianie z poprzednich danych itp -->
<!-- #form-nazwa naszego pola do angulara (onSubmit(form)) 
    ="ngForm" typ tego submita -->


<form #form="ngForm" autocomplete="off">

    <div class="form-group">

    <div class="row">
        <div class="offset-md-3"></div>
        <div class="col-md-2 ">
            Dane użytkownika
        </div>
    </div>
        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="offset-md-3"></div>
            <div class="col-md-2 input-group-text bg-info">
                Login
            </div>

            <!-- #FirstName - local reference -->
            <!-- two way data binding [(ngModel)]="userService.FirstName" nazwa z property "userService" w payment-detail.component.ts (to co dajemy w konstruktorze) -->

            <input type="text" name="Login" #Login="ngModel" [(ngModel)]="userFormData.Login"
                class="col-md-4 form-control" placeholder="Login" [readonly]="1" required />

        </div>
        <div class="row input-group">

            <!-- [co się dzieje z klasą]="warunek" -->
            <div class="offset-md-3"></div>
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Imię
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!FirstName.touched"
                [class.bg-success]="FirstName.valid && FirstName.touched"
                [class.bg-danger]="FirstName.invalid && FirstName.touched">
                Imię
            </div>

            <!-- #FirstName - local reference -->
            <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="userFormData.FirstName"
                class="col-md-4 form-control" placeholder="User First Name" [readonly]="!IsEdit" required />

        </div>


        <!-- grupa inputu - tutaj razem zgrupowana np ikona jakaś -->
        <div class="row input-group">
            <div class="offset-md-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Nazwisko
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Surname.touched"
                [class.bg-success]="Surname.valid && Surname.touched"
                [class.bg-danger]="Surname.invalid && Surname.touched">
                Nazwisko
            </div>


            <input type="text" name="Surname" #Surname="ngModel" [(ngModel)]="userFormData.Surname"
                class="col-md-4 form-control" placeholder="User Surname" required [readonly]="!IsEdit" />
        </div>

        <div class="row input-group">
            <div class="offset-md-3"></div>
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Numer Tel.
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text bg-info" [class.bg-info]="!PhoneNumber.touched"
                [class.bg-success]="PhoneNumber.valid && PhoneNumber.touched"
                [class.bg-danger]="PhoneNumber.invalid && PhoneNumber.touched">
                Numer Tel.
            </div>

            <input type="text" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="userFormData.PhoneNumber"
                class="col-md-4 form-control" placeholder="Numer telefonu" [pattern]="regexPhoneNumber" required
                maxlength="15" minlength="9" [readonly]="!IsEdit" />
        </div>

        <div class="row input-group">
            <div class="offset-md-3"></div>
            <!-- [co się dzieje z klasą]="warunek" -->
            <div *ngIf="!IsEdit" class="col-md-2 input-group-text bg-info">
                Email
            </div>
            <div *ngIf="IsEdit" class="col-md-2 input-group-text" [class.bg-info]="!Email.touched"
                [class.bg-success]="Email.valid && Email.touched" [class.bg-danger]="Email.invalid && Email.touched">
                Email
            </div>


            <input type="text" name="Email" #Email="ngModel" [(ngModel)]="userFormData.Email"
                class="col-md-4 form-control" placeholder="User Email" required [pattern]="regexEmail"
                [readonly]="!IsEdit" />

        </div>
        <div class="row input-group">
            <div class="offset-md-3"></div>

            <div class="col-md-2 input-group-text bg-info">
                Data utworzenia
            </div>
            <input type="text" name="AccoutCreateDate" 
                [value]="CutDate(userFormData.AccoutCreateDate)" class="col-md-4 form-control"
                placeholder="User AccoutCreateDate" readonly="true" />
        </div>

        <div class="row  input-group" for="IsAdminCheck">
            <div class="offset-md-3"></div>


            <!-- //class=" col-md-6 bg-info input-group-text" -->
            <div class="col-md-2 input-group-text bg-info">
                Prawa Użytkownika
            </div>
            <div class="col-md-4">
                <select [disabled]="!IsAdminAndEdit()" class="w-100 h-100" name="userTypeSelect"
                    #userTypeSelect="ngModel" [(ngModel)]="userTypeIdDisplay">
                    <!-- //(change)="filterForeCasts($event.target.value)" -->

                    <option class="w-100 h-100" *ngFor="let ut of UserTypesList" [ngValue]="ut.UserTypeId">
                        {{ut.Name}}
                    </option>
                </select>
            </div>
            <!-- <input name="IsAdminInput" #IsAdminInput="ngModel" [(ngModel)]="userService.userFormData.IsAdmin"
                    class="col-md-6" type="checkbox" id="IsAdminInput" [disabled]="!IsAdminAndEdit() " /> -->

        </div>
        <!-- <div class="row input-group">
            <div class="offset-md-3"></div>
            <div class=" col-md-6 bg-info input-group-text" for="IsEmployeeCheck">
                Employee Rights:
                <input name="IsEmployee" #IsAdmin="ngModel" [(ngModel)]="userService.userFormData.IsEmployee"
                    class="col-md-6" type="checkbox" id="IsEmployeeCheck" [disabled]="!IsAdminAndEdit()" />
            </div>
        </div> -->




        <!-- [co się dzieje z klasą]="warunek" -->
        <div class="row input-group">
            <div class="col-md-3"></div>

            <button *ngIf="!IsEdit" type="button" class="col btn btn-success" (click)="EditThisForm()">

                Edytuj
            </button>

            <button *ngIf="IsEdit" type="button" width="100%" class="col btn btn-success " [disabled]="form.invalid"
                (click)="AcceptEdit()">
                Zatwierdź
            </button>


            <button *ngIf="IsEdit" type="button" class="col btn btn-info " (click)="CancelEdit()" value="Anuluj"
                style="margin-left: 1px;">
                Anuluj
            </button>



            <button type="button" class="col btn btn-danger" (click)="RemoveUser()" value="Usuń">
                Usuń
            </button>

            <div class="col-md-3"></div>

        </div>
        <div class="row input-group">
            <div class="col-md-3"></div>
            <button type="button" class="col btn btn-secondary" (click)="GoToOrderList()" value="Usuń">
                Przejdź do listy zamówień
            </button>
            <div class="col-md-3"></div>

        </div>




    </div>

</form>